/* Стили панели интерфейса: панель инструментов, кнопки и тд */

html {
    font: 14px Arial;
    height: 100%;
}

body {
    height: 100%;
    background-color: #E3F2FD;
}

/*Оформление шапки*/
header {
    padding: 6px;
    background-color: #FFFFFF;
    text-align: center;
}

main {
    position: relative;
}

header h1 {
    font-size: 1.2em;
    color: #424242;
    font-weight: bolder;
}

/*Оформление панели инструментов*/
.panel {
    background: linear-gradient(to bottom, #e3e3e4, #f8f7f7 2%, #f8f7f7 98%, #e3e3e4), #f8f7f7;
    border: 1px solid #E0E0E0;
    border-left: none;
    border-right: none;
}

.tool {
    float: left;
    padding: 10px 10px 2px 10px;
    position: relative;
}

.tool::after, .tool:first-child::before {
    content: '';
    display: block;
    width: 1px;
    height: 60%;
    border-right: 1px solid #cccccc;
    position: absolute;
    top: 20%;
}

.tool::after {
    right: 0;
}

.tool:first-child::before {
    left: 0;
}

.tool:first-child {
    margin-left: 12px;
}

.tool h2 {
    color: #757575;
    text-align: center;
    display: block;
}

/*Оформление каждой секции инструментов*/

.instruments {
    width: 200px;
}

.instrument-button, .figure-button {
    display: block;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    float: left;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: #f8f7f7;
    box-sizing: border-box;
}

.instrument-button:hover, .figure-button:hover {
    border: 1px solid #90CAF9;
    background-color: #E3F2FD;
}

.instrument-button img, .figure-button img {
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
}

.figures {
    width: 100px;
}

.figure-button {
    width: 24px;
    height: 24px;
}

.figure-button img {
    width: 22px;
    height: 22px;
}

.focused-button {
    border: 1px solid #64B5F6;
    background-color: #BBDEFB;
}

/*Оформление канвасов*/
.canvas_wrapper {
    width: 1280px;
    height: 720px;
    background: #FFFFFF;
    position: relative;
    margin: 8px auto;
    box-shadow: 6px 6px 10px -2px #B0BEC5;
    border: 1px solid #ECEFF1;
}

main canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#back_canvas {
    color: transparent;
}

.clear {
    clear: both;
    width: 0;
    height: 0;
}
